body {
    background-color: #22303f;
    min-width: 820px;
    font-family: "JetBrains Mono", "Luxi Sans", "Segoe UI", "Hiragino Sans GB", "Microsoft Yahei", sans-serif, "Apple Logo";
}


/* 标题栏 */

.top {
    height: 44px;
    width: 100%;
    background-color: #18222d;
}

.top .content {
    height: 44px;
    width: 1100px;
    margin: 0 auto;
    /* background-color: pink; */
}

.top .tools {
    display: float;
    float: right;
    /* background-color: #fff; */
}

.top .tools ul li {
    height: 44px;
    display: inline-block;
    padding: 0 0 0 20px;
    line-height: 44px;
}

.top .tools ul li a {
    text-align: right;
    color: #9caec7;
}

.top .tools ul li a:hover {
    color: #b6c7de;
}


/* 版心在中间 */

.wrapper {
    width: 1100px;
    height: auto;
    background-color: #3e5874;
    margin: 0 auto;
}


/* 定义一个20px高的间隔空间 */

.sep20 {
    height: 20px;
    width: auto;
    background-color: #22303f;
}

.sep10 {
    height: 10px;
    width: auto;
    background-color: #22303f;
}


/* 左侧主体部分 */

.left {
    float: left;
    width: 770px;
    height: auto;
}

.left .friend-info {
    height: auto;
    width: 770px;
    background-color: #3e5874;
}

.left .friend-info .avatar {
    display: inline-block;
    width: 100px;
    height: 100px;
}

.left .friend-info .avatar img {
    width: 70px;
    height: 70px;
    padding: 15px;
}

.left .friend-info .info {
    vertical-align: top;
    display: inline-block;
    width: 600px;
    height: 100px;
    padding: 15px;
}