<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slip</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/chat.css">
</head>

<body>
    <div class="top">
        <div class="content">
            <div class="tools">
                <ul>
                    <li><a href="#">首页</a></li>
                    <li><a href="#">lucas</a></li>
                    <li><a href="#">emotion</a></li>
                    <li><a href="#">设置</a></li>
                    <li><a href="#">退出</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="sep20"></div>
        <div class="left">
            <div class="friend-info">
                <div class="avatar"><img src="../static/images/0422de8ba1bd4cb7b5f0fc2c2991c76e.png" alt="avatar"></div>
                <div class="info">
                    <div class="name"><a href="#">Lucas</a></div>
                    <div class="sign">
                        <p>这个人很懒，什么都没有留下这个人很懒，什么都没有留下这个人很懒，什么都没有留下这个人很懒，什么都没有留下这个人很懒，什么都没有留下这个人很</p>
                    </div>
                </div>
            </div>
            <div class="chat-content">
                <div class="records">
                    <div class="user-content">
                        <div class="content">
                            <p>这个人很懒，什么都没有留下这个人很懒，什么都没有留下这个人很懒，什么都没有留下这个人很懒，什么都没有留下这个人很懒，什么都没有留下这个人很懒，什么都没有留下这个人很懒，什么都没有留下</p>
                        </div>
                        <div class="avatar">
                            <img src="../static/images/0422de8ba1bd4cb7b5f0fc2c2991c76e.png" alt="">
                        </div>
                    </div>
                    <div class="friend-content">
                        <div class="avatar">
                            <img src="../static/images/0422de8ba1bd4cb7b5f0fc2c2991c76e.png" alt="">
                        </div>
                        <div class="content">
                            <p>这个人很懒，什么都没有留下这个人很懒，什么都没有留下这个人很懒，什么都没有留下这个人很懒，什么都没有留下这个人很懒，什么都没有留下这个人很懒，什么都没有留下这个人很懒，什么都没有留下</p>
                        </div>
                    </div>
                    <div class="user-content">
                        <div class="content">
                            <p>这个人很懒，什么都没有留下这个人很懒，什么都没有留下这个人很懒，什么都没有留下这个人很懒，什么都没有留下这个人很懒，什么都没有留下这个人很懒，什么都没有留下这个人很懒，什么都没有留下</p>
                        </div>
                        <div class="avatar">
                            <img src="../static/images/0422de8ba1bd4cb7b5f0fc2c2991c76e.png" alt="">
                        </div>
                    </div>
                    <div class="friend-content">
                        <div class="avatar">
                            <img src="../static/images/0422de8ba1bd4cb7b5f0fc2c2991c76e.png" alt="">
                        </div>
                        <div class="content">
                            <p>这个人很懒，什么都没有留下这个人很懒，什么都没有留下这个人很懒，什么都没有留下这个人很懒，什么都没有留下这个人很懒，什么都没有留下这个人很懒，什么都没有留下这个人很懒，什么都没有留下</p>
                        </div>
                    </div>
                    <div class="user-content">
                        <div class="content">
                            <p>这个人很懒，什么都没有留下这个人很懒，什么都没有留下这个人很懒，什么都没有留下这个人很懒，什么都没有留下这个人很懒，什么都没有留下这个人很懒，什么都没有留下这个人很懒，什么都没有留下</p>
                        </div>
                        <div class="avatar">
                            <img src="../static/images/0422de8ba1bd4cb7b5f0fc2c2991c76e.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="chat-sender">
                    <div class="input-text">
                        <textarea name="message" id="message" cols="30" rows="10"></textarea>
                    </div>
                    <div class="buttons">
                        <div>
                            <input class="refresh" type="button" value="refresh">
                            <input class="send" type="button" value="send">
                        </div>
                    </div>
                </div>
            </div>
            <div class="sep100"></div>
        </div>

    </div>


    <script src="scripts/main.js"></script>
</body>

</html>