<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slip</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/chatbox.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="top">
        <div class="content">
            <div class="tools">
                <ul>
                    <li><a href="#">首页</a></li>
                    <li><a href="#">lucas</a></li>
                    <li><a href="#">emotion</a></li>
                    <li><a href="#">设置</a></li>
                    <li><a href="#">退出</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="sep20"></div>
        <div class="left">
            <div class="content">
                <div class="friends_list">
                    <div class="title">
                        <h5>好友列表</h5>
           
                  
                    </div>
                
                </div>

                <div class="friend">
                    <div class="friend_info" id="friend_info1">
                        <div class="TopicAvatar">
                            <a href="#">
                                <img src="https://docs.htmlcsstoimage.com/assets/images/dog.jpg" alt="avatar">
                            </a>
                        </div>
                        <div class="TopicInfo">
                            <h3><a href="#">paradoxs</a></h3>
                    
                            <h4 class="short_quote" id="short_quote">想出去...</h4>
                        </div>

                        <div class="TopicNow">
                            <p>2:14</p>
                        </div>
                    </div>
                    <div class="friend_info" id="friend_info2">
                        <div class="TopicAvatar">
                            <a href="#">
                                <img src="https://docs.htmlcsstoimage.com/assets/images/dog.jpg" alt="avatar">
                            </a>
                        </div>
                        <div class="TopicInfo">
                            <h3><a href="#">paradoxs</a></h3>
                    
                            <h4>closer</h4>
                        </div>

                        <div class="TopicNow">
                            <p>2:14</p>
                        </div>
                    </div>

                    <div class="friend_info" id="friend_info3">
                        <div class="TopicAvatar">
                            <a href="#">
                                <img src="https://docs.htmlcsstoimage.com/assets/images/dog.jpg" alt="avatar">
                            </a>
                        </div>
                        <div class="TopicInfo">
                            <h3><a href="#">paradoxs</a></h3>
                    
                            <h4>Wolves</h4>
                        </div>

                        <div class="TopicNow">
                            <p>2:14</p>
                        </div>
                    </div>
                </div>
                
            </div>


        </div>
        
        <div class="chatbox_title">
            <div class="refresh">
                <form>
                    <input type="button" class="button" value="refresh" id="button">
                </form>
            </div>
        </div>



        <div class="chatbox">
            <div class="container">
                <img src="https://docs.htmlcsstoimage.com/assets/images/dog.jpg" alt="Avatar" >
                <p class="quote" id="quote">想出去转转吗</p>
                <span class="time-right">11:00</span>
            </div>
            
            <div id="container_response">

            </div>
            <!--
            <div class="container darker" id="container_darker">
                <img src="https://docs.htmlcsstoimage.com/assets/images/dog.jpg" alt="Avatar" class="right" id="img_response">
                <p class="quote" id="response">别去</p>
                <span class="time-left" id="time_response">11:01</span>       
            </div>-->

            

        </div>

        <div class="enter"> 
                <textarea id="text" name="text" rows="4" cols="50"></textarea>
        </div>

        <div class="submit">
            <!--<form>-->
                <button id="response_message" class="response_message">Enter</button>
            <!--</form>-->

        </div>


    </div>




    <script src="../scripts/main.js"></script>
</body>

</html>