<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slip</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/details.css">
</head>

<body>
    <div class="top">
        <div class="content">
            <div class="tools">
                <ul>
                    <li><a href="#">首页</a></li>
                    <li><a href="#">lucas</a></li>
                    <li><a href="#">emotion</a></li>
                    <li><a href="#">设置</a></li>
                    <li><a href="#">退出</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="sep20"></div>
        <div class="left">
            <div class="topic-header">
                <div class="href">
                    <a href="#">SLIP</a>
                    <span>></span>
                    <a href="#">News</a>
                </div>
                <div class="topic-title">
                    <h3>公正评价，这代码什么水平</h3>
                    <span id="author">lucas · </span>
                    <span id="time">3分钟前 · </span>
                    <span id="click-count">1353次</span>
                    <div class="avatar"><img src="../static/images/0422de8ba1bd4cb7b5f0fc2c2991c76e.png" alt="avatar"></div>
                </div>
            </div>
            <div class="topic-content">
                <p>
                    发现很多程序的运行环境，都需要 python 支持，而且，版本还不一样。python2 和 python3 都需要。 楼主一直整得不太好（因为不是经常使用），经常一个程序或者环境跑起来，缺 python 。所以特意来请教一下，大家有没有比较好的 best practice ，管理 python 的版本，2 & 3 ，以及对应的 pip 。 macOS 和 windows 都分别怎么设置，比较好用&通用？ 谢谢！
                </p>
                <hr>
                <span id="click-count">· 1353次点击</span>
            </div>
            <div class="sep20"></div>
            <div class="comments">
                <div class="comment-header">
                    <div class="comment-count">
                        <span>· 0 comments</span>
                        <span>· 2022-05-12 10:42:18 +08:00</span>
                    </div>
                </div>
                <div class="cell">
                    <div class="reply-avatar">
                        <a href="#">
                            <img src="../static/images/0422de8ba1bd4cb7b5f0fc2c2991c76e.png" alt="avatar">
                        </a>
                    </div>
                    <div class="reply-info">

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>